name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: ['**']

env:
  TESTS_RPC_URL: ${{ secrets.TESTS_RPC_URL }}
  TESTS_RPC_URL_SEPOLIA: ${{ secrets.TESTS_RPC_URL_SEPOLIA }}
  TESTS_RPC_URL_MAINNET: ${{ secrets.TESTS_RPC_URL_MAINNET }}
  TESTS_RPC_URL_BASE: ${{ secrets.TESTS_RPC_URL_BASE }}
  TESTS_RPC_URL_ARBITRUM: ${{ secrets.TESTS_RPC_URL_ARBITRUM }}
  TESTS_RPC_URL_UNICHAIN: ${{ secrets.TESTS_RPC_URL_UNICHAIN }}
  TESTS_RPC_URL_MONAD: ${{ secrets.TESTS_RPC_URL_MONAD }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun lint

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun test
